name: CI

on:
  push:
    branches: main
    tags:
      - 'v*'
  pull_request:
    branches: main

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 . --count --max-complexity=10 --max-line-length=127 --statistics --exclude ckan,ckanext-saml2auth

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.7', '3.8', '3.9']
        ckan-version: ["2.9", "2.10"]
    name: Python ${{ matrix.python-version }} extension test

    services:
      postgresql:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

      ckan-solr:
        # Workflow level env variables are not addressable on job level, only on steps level
        # image: ghcr.io/keitaroinc/ckan-solr-dev:{{ env.CKANVERSION }}
        image: ghcr.io/keitaroinc/ckan-solr-dev:2.9
        ports:
          - 8983:8983

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Setup CKAN
        env:
          PGPASSWORD: postgres
        run: |
          export CKANVERSION=${{matrix.ckan-version}}
          bash bin/setup-ckan.bash

      - name: Test with pytest
        run: |
          pytest --ckan-ini=subdir/test.ini --cov=ckanext.saml2auth --disable-warnings ckanext/saml2auth/tests

      - name: Coveralls
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: Python ${{ matrix.python-version }} Unit Test

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install setup requirements
        run: |
          python -m pip install --upgrade setuptools wheel twine
      
      - name: Pin setuptools for ckan 2.9 only
        if: ${{ matrix.ckan-version == 2.9 }}
        run: pip install "setuptools>=44.1.0,<71"

      - name: Build and package
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  coveralls_finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel-finished: true
